/* ...........................  */
/* Media Quaries  */
/* ...........................  */

/* ...........................  */
/* Max-width:1200px  */
/* ...........................  */
@media (max-width: 1200px) {
  .nav-container {
    margin: 2rem 5rem;
  }
}

/* ...........................  */
/* Max-width:1000px  */
/* ...........................  */
@media (max-width: 1000px) {
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .section-feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80rem;
    margin: 10rem auto;
  }
  .feature-box {
    width: 25rem;
    height: 25rem;
  }

  .section-portfolio {
    max-width: 80rem;
    height: 25rem;
    gap: 2.5rem;
    margin: 12rem auto;
  }
  .number-section {
    width: 25rem;
  }
  .text-box {
    width: 25rem;
  }
  .project {
    max-width: 80rem;
    margin: 10rem auto;
  }
  .projects {
    max-width: 80rem;
  }
  .contact {
    max-width: 80rem;
  }
  footer {
    max-width: 80rem;
    margin: 10rem auto;
  }
}

/* ...........................  */
/* Max-width:950px  */
/* ...........................  */
@media (max-width: 950px) {
  .navbar {
    display: none;
  }
  .nav-container {
    align-items: center;
    justify-content: center;
  }
}

/* ...........................  */
/* Max-width:800px  */
/* ...........................  */
@media (max-width: 800px) {
  html {
    font-size: 55%;
  }
}

/* ...........................  */
/* Max-width:700px  */
/* ...........................  */
@media (max-width: 700px) {
  html {
    font-size: 55%;
  }
  .hero-section {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .hero-img {
    width: 80%;
    margin: 5rem auto;
  }
  .hero-img img {
    width: 80%;
  }
  .hero-content {
    margin: 10rem auto;
  }
  .section-feature {
    grid-template-columns: 1fr;
    margin: 10rem auto;
  }
  .feature-box {
    width: 41rem;
    height: 41rem;
    margin: 0 auto;
  }
  .section-portfolio {
    flex-wrap: wrap;
    margin-left: 10rem;
    margin-bottom: 10rem;
    height: auto;
  }
  .text-section {
    grid-template-columns: 1fr;
  }

  .pro-title {
    margin: 5rem auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .project-button {
    width: 10rem;
  }
  .project-text {
    width: 30rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }
  .image-container {
    width: 80%;
    margin: 5rem auto;
  }
  .projects-text-con {
    width: 80%;
    margin: 2rem auto;
  }
  .contact {
    flex-wrap: wrap;
    margin: 3rem auto;
    height: auto;
    width: auto;
  }
  .contact-text {
    width: auto;
    margin: 3rem auto;
  }
  .contact-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .contact-text p {
    font-size: 1.2rem;
  }
  .contact-button {
    width: auto;
    margin: 3rem auto;
  }
  .btn-footer {
    height: auto;
    margin: 1rem auto;
  }
  .footer-content {
    margin: 2rem 5rem;
    height: auto;
    width: auto;
    gap: 10rem;
  }
  .footer-icon {
    flex-wrap: wrap;
    gap: 2rem;
  }
}
